# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Generated kubeconfig from kind_cluster (contains client cert + private key)
**/bootstrap/*-config
